{% extends 'user_base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/userdashboard.css' %}">


<!-- Content -->
<div class="content">
    <h1 style="margin-left: 50px; margin-bottom: 50px; font-weight: bold;">USER DASHBOARD</h1>

  <!-- Cards Section -->
<div class="card-container">

    <div class="card bg-success">
        <div class="card-header">Orders</div>
        <div class="card-body">
            <h5 class="card-title">{{ total_orders }}</h5>
            <p class="card-text">Orders processed successfully.</p>
        </div>
    </div>

    <div class="card bg-warning">
        <div class="card-header">Total Order Pending</div>
        <div class="card-body">
            <h5 class="card-title">{{ total_order_pending }}</h5>
            <p class="card-text">Sales made in the store.</p>
        </div>
    </div>

    <div class="card bg-danger ">
        <div class="card-header">To Ship</div>
        <div class="card-body">
            <h5 class="card-title">{{ total_Ship }}</h5>
            <p class="card-text">Scanned reports generated.</p>
        </div>
    </div>
    <div class="card bg-info ">
        <div class="card-header">Scan's Report </div>
        <div class="card-body">
            <h5 class="card-title">{{ total_reports }}</h5>
            <p class="card-text">Scanned reports generated.</p>
        </div>
    </div>
</div>

</div>
{% endblock %}

